$black: #000000;
$red: #ffadad;
$green: #caffbf;
$yellow: #fdffb6;
$blue: #a0c4ff;
$pink: #ffc6ff;
$purple: #bdb2ff;
$cyan: #9bf6ff;
$white: #ffffff;
$foreground: #bfbfbf;
$background: #8d85bf;
$secondary: #bdb2ff;
