*
# Ignore Everything Except Stuff Below

# ~/ Directory Files
!.gitignore
!.zshrc

# Config Files
!.config/
!.config/kitty/
!.config/kitty/*
!.config/nano/
!.config/nano/*

# My Stuff
!.config/benji/
!.config/benji/*
!.config/colors/
!.config/colors/*
