*
# Ignore Everything Except Stuff Below

# ~/ Directory Files
!.gitignore
!.zshrc

# Config Files
!.config
.config/*
.config/kitty
!.config/kitty/kitty.conf
.config/nano
!.config/nano/nanorc

# My Stuff
!.config/benji
!.config/colors
