$primary_paletteKeyColor: #27828c;
$secondary_paletteKeyColor: #627b7f;
$tertiary_paletteKeyColor: #6a7797;
$neutral_paletteKeyColor: #727879;
$neutral_variant_paletteKeyColor: #6f797a;
$background: #0e1415;
$onBackground: #dee4e4;
$surface: #0e1415;
$surfaceDim: #0e1415;
$surfaceBright: #343a3b;
$surfaceContainerLowest: #090f10;
$surfaceContainerLow: #171d1e;
$surfaceContainer: #1b2122;
$surfaceContainerHigh: #252b2c;
$surfaceContainerHighest: #303637;
$onSurface: #dee4e4;
$surfaceVariant: #3f484a;
$onSurfaceVariant: #bec8ca;
$inverseSurface: #dee4e4;
$inverseOnSurface: #2b3132;
$outline: #899294;
$outlineVariant: #3f484a;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #81d3de;
$primary: #81d3de;
$onPrimary: #00363c;
$primaryContainer: #004f56;
$onPrimaryContainer: #9df0fb;
$inversePrimary: #006972;
$secondary: #b1cbcf;
$onSecondary: #1c3437;
$secondaryContainer: #324b4e;
$onSecondaryContainer: #cde7eb;
$tertiary: #b9c6ea;
$onTertiary: #23304d;
$tertiaryContainer: #8390b2;
$onTertiaryContainer: #000000;
$error: #ffb4ab;
$onError: #690005;
$errorContainer: #93000a;
$onErrorContainer: #ffdad6;
$primaryFixed: #9df0fb;
$primaryFixedDim: #81d3de;
$onPrimaryFixed: #001f23;
$onPrimaryFixedVariant: #004f56;
$secondaryFixed: #cde7eb;
$secondaryFixedDim: #b1cbcf;
$onSecondaryFixed: #051f22;
$onSecondaryFixedVariant: #324b4e;
$tertiaryFixed: #d9e2ff;
$tertiaryFixedDim: #b9c6ea;
$onTertiaryFixed: #0d1b36;
$onTertiaryFixedVariant: #394664;
$darkmode: true;
